<!DOCTYPE html>
<html>
<head>
  <title>BenchBuddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all"%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
